body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  background-color: #fff;
}

  .customNavbar {
    border-color: #fff;
    outline: none !important;
    border:none !important;
    color : #fff !important;
  }
ol,
ul {
  padding-left: 0;
}
.navLink {
  color: red;
}
.home {
  padding: 0px !important;
}
.nav-tabs .nav-item {
  margin-bottom: 2px;
  /* padding: 1px; */
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgb(239, 51, 64);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgb(239, 51, 64) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #4f869a;
}
.nav-link {
  /* color: #4f869a; */
  font-size: 11px;
  letter-spacing: 1.9px;
  font-weight: normal;
  padding-right: 32px !important;
  text-transform: uppercase;
}
/* .user {
  display: "flex";
  justify-content: flex-start;
  align-items: "center";
  padding: 0 0 50px 0;
  margin: 50px 0;
} */
.nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
  padding: 8px 45px;
  border-radius: 30px;
  border-left: none;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-tabs .nav-link {
  font-weight: 600;
}
@media only screen and (min-width: 766px) {
}
.bollete::after {
  position: absolute;
  height: 70px;
  width: 1px;
  background: #a3a3a3;
  content: "";
  left: 50%;
  top: 21px;
}
.bollete {
  position: relative;
  background-color: rgb(239, 51, 64);
  width: 22px !important;
  border-radius: 50%;
  height: 22px !important;
}
.bollete1::after {
  position: absolute;
  height: 215px;
  width: 1px;
  background: #a3a3a3;
  content: "";
  left: 50%;
  top: 21px;
}
.bollete1 {
  position: relative;
  background-color: rgb(239, 51, 64);
  width: 22px !important;
  border-radius: 50%;
  height: 22px !important;
}
.bollete3::before {
  position: absolute;
  height: 62px;
  width: 1px;
  background: #a3a3a3;
  content: "";
  left: 50%;
  top: 21px;
}
.bollete3::after {
  position: absolute;
  height: 34px;
  width: 1px;
  background: #a3a3a3;
  content: "";
  left: 50%;
  top: -34px;
}
.bollete3 {
  position: relative;
  background-color: rgb(239, 51, 64);
  width: 22px !important;
  border-radius: 50%;
  height: 22px !important;
}
@media only screen and (max-width: 1012px) {
  .time-text {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 768px) {
  .timeline {
    padding: 70px;
  }
  .token-sale-stage {
    padding: 20px;
  }
  .time-text {
    font-size: 12px;
  }
  .tab-token {
    padding: 0 40px;
  }
  .bg-img {
    background-color: #345966;
    border-radius: 30px;
    padding: 30px 70px;
  }
  .bg-img:hover {
    /* background-color: #d8d8d8; */
  }
  .locamo-text {
    border-right: 1px solid #ef3340;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.f-img {
  width: 100%;
}
.locamo-text-title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}
.locamo-text-pargraph {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ef3340;
}
.card-width:hover .uncontrolled {
  background-color: #4f869a !important;
  color: #040403 !important;
}
.card-width:hover .nav-tabs .nav-link.disabled {
  background-color: #4f869a !important;
  color: #fff !important;
  border-radius: 30px;
}
.card-dark-width .nav-tabs .nav-link.disabled {
  color: #fff !important;
  border-radius: 30px;
}
.tab-dark-text {
  color: #fff !important;
}
.nav-tabs .nav-link.disabled {
  color: #000;
}
.style3 {
  color: #fff !important;
}
#uncontrolled-tab-example {
  background-color: rgba(65, 73, 107, 0.10196078431372549);
}
.f-text {
  padding-right: 35px !important;
}
@media only screen and (max-width: 425px) {
  .transpernt-btn {
    margin-left: 0px !important;
  }
  .card-dark-width {
    width: 18rem !important;
  }
  .card-width {
    width: 18rem !important;
  }
  .home {
    margin-top: 80px;
  }
  .hade-icon {
    margin-right: 40px !important;
  }
  .total {
    padding: 0 !important;
  }
  .token-disc {
    display: none !important;
  }
  .dot-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 400px) {
  .hade-icon {
    margin-right: 25px !important;
  }
  .total {
    padding: 0 !important;
  }
}
/*  */
@media only screen and (max-width: 768px) {
  .locamo-pargraph {
    background-color: #163d47;
    border-radius: 30px;
    padding: 20px 38px 20px 26px !important;
    margin: 12px;
  }
  .navbar-collapse {
    background: #fff !important;
  }
  .rd-sec {
    padding: 12px;
  }
  .black-text {
    margin-top: 10px;
  }
  .footer-content {
    padding: 50px 28px !important;
  }
  .subscribe {
    padding-top: 15px;
  }
  .bg {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  .text-token-disc {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  .total {
    padding: 0 !important;
  }
  .invest-pargraph-1 {
    padding: 28px 0px !important;
  }
  .invest-pargraph-1:hover {
    padding: 0 0px !important;
  }
  .invest-pargraph-2:hover {
    padding: 0 0px !important;
  }
  .hybrid {
    padding: 20px 38px 20px 35px !important;
  }
  .invset-img {
    padding: 50px !important;
  }
  .invest-text {
    padding: 100px 15px !important;
  }
  .up-comming {
    display: none !important;
  }
  #team {
    padding: 70px 15px !important;
  }
  .footer-icon {
    margin: 0px !important;
  }
  .team-card {
    padding: 0 0 50px 10px;
  }
  .bg-img {
    /* margin: 10px !important; */
    background-color: #345966;
    border-radius: 30px;
    padding: 50px 10px;
  }
  .bg-img:hover {
    /* background-color: #d8d8d8; */
  }
  .bg-img:hover .locamo-text-title {
    /* color: #345966; */
  }
  .locamo-text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 38px 20px 26px !important;
  }
  .total {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg:hover {
  background-color: #d8d8d8;
  border-radius: 15px;
}
.bg:hover .text {
  color: #ef3340 !important;
}
.bg {
  padding: 5px;
  padding-left: 25px;
}
.story {
  color: #040403;
  font-size: 16px;
  font-weight: 200;
  line-height: normal;
  font-family: "Poppins ", sans-serif;
  line-height: 1.6rem;
  margin-bottom: 30px;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .story {
    margin-right: 60px;
  }
  .dot {
    margin-bottom: 45px;
  }
  .subscribe {
    padding-left: 35px;
  }
}
.black-text {
  font-size: 20px;
  color: #163d47;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important  ;
}
.black-20-text {
  font-size: 15px;
  color: #163d47;
  font-weight: normal !important;
  font-family: "Poppins ", sans-serif !important;
}
.red-text {
  color: #ef3340;
  font-weight: bold;
  margin-left: 5px;
  font-family: "Poppins ", sans-serif !important;
  margin-right: 5px;
  font-size: 15px;
}
.red-text-token {
  color: #ef3340;
  font-weight: bold;
  font-family: "Poppins ", sans-serif !important;
  margin-right: 5px;
  font-size: 15px;
}
.token {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .token {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .total {
    padding: 0 0 0 70px;
  }
}
.up-comming {
  border-bottom: 1px solid #a3a3a3;
  width: calc(100% - 20px);
  margin-left: 20px !important;
  margin-top: 20px !important;
}
.time-text {
  color: #163d47;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600 !important;
}
.pre-text {
  background-color: #4f869a;
  width: 18px;
  border-radius: 50%;
  height: 18px;
}
.dotted li {
  margin-left: 24px;
  font-size: 28px;
  color: #4f869a;
}
html {
  scroll-behavior: smooth;
}
.text {
  font-weight: bold;
}
.poppins {
  font-family: "Poppins ", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.nav-tabs {
  border-bottom: none;
}
.gray-btn {
  border-radius: 40px !important;
  text-transform: "uppercase";
  background-color: #41496b !important;
  border: none !important;
  box-shadow: none !important;
  width: 200px;
  border-radius: 15px;
  letter-spacing: 1.9px;
  height: 35px;
  padding: 10px;
  color: #fff !important;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
  font-size: 11px;
  text-transform: uppercase;
}
.gray-btn:hover {
  background-color: #ef3340 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  transition: all 0.5s;
}
.topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: transparent;
  border: 0;
  transition: all 0.5s ease;
}
.hide {
  background: #fff;
  box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}
.nav-sticky::before,
.nav-sticky::after {
  content: "";
  display: block;
  height: 16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
  background: #fff;
  box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}
.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #163d47;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.paragraph-text {
  color: #040403;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  font-family: "Poppins ", sans-serif;
  line-height: 1.6rem;
  margin-bottom: 30px;
}
.red-btn {
  border-radius: 40px !important;
  text-transform: "uppercase";
  background-color: #ef3340 !important;
  border: none !important;
  box-shadow: none !important;
  width: 200px;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 1.9px;
  height: 35px;
  padding: 10px;
  color: #ffffff !important;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
  text-transform: uppercase;
}
.red-btn:hover {
  background-color: #41496b !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  transition: all 0.5s;
}

.transpernt-btn {
  border-radius: 40px !important;
  text-transform: "uppercase";
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
  width: 200px;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 1.9px;
  height: 35px;
  padding: 10px;
  color: #ef3340 !important;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
  border: 2px solid #414141 !important;
  margin-left: 12px;
  text-transform: uppercase;
}
.transpernt-btn:hover {
  background-color: #41496b !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  transition: all 0.5s;
}
.hade-icon {
  margin-right: 45px;
  height: 35px;
}
.locamo-pargraph {
  background-color: #163d47;
  border-radius: 30px;
  padding: 55px 70px 55px 70px;
}
.locamo-pargraph:hover {
  /* box-shadow: 1px 1px 6px rgba(239 51 64 0.4235294117647059);
  background-color: #d8d8d8; */
}

.locamo-pargraph:hover .text-locamo {
  /* box-shadow: 1px 1px 6px rgba(239 51 64 0.4235294117647059);
  background-color: #d8d8d8;
  color: #163d47; */
}
.text-locamo {
  color: #dce0e4;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
}
.text-locamo-pargraph {
  color: #dce0e4;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  font-family: "Poppins ", sans-serif;
}
.invest-pargraph {
  color: #163d47;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 100px;
  font-size: 35px;
}

.invest-pargraph-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 35px 0;
  padding: 28px;
}
.invest-pargraph-1:hover {
  background-color: #345966;
  border-radius: 20px;
  margin: 0 0 35px 0;
}
.invest-pargraph-1:hover .black-text {
  color: #ffffff;
}
.invest-pargraph-1:hover .black-20-text {
  color: #ffffff;
}

.invest-pargraph-2 {
  background-color: #345966;
  border-radius: 30px;
  padding: 28px;
  margin: 0 0 35px 0;
}
/* .invest-pargraph-2:hover {
  background-color: #d8d8d8;
  border-radius: 30px;
} */
.text-align {
  display: flex;
  align-items: center;
  justify-self: center;
}
.cart-title {
  color: #163d47;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.cart-title-dark {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.card-width {
  width: 24rem;
  background: none;
  border: none;
  padding: 0;
}
.card-width:hover {
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  background-color: #163d47;
  color: #fff !important;
}
.tab-text {
  color: #163d47;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tab-text-dark {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
}
.card-width:hover .tab-text {
  color: #fff !important;
}
.card-width:hover .cart-title {
  color: #fff !important;
}
.card-width:hover .card-count {
  color: #fff !important;
}
.card-width:hover .card-count-text {
  color: #fff !important;
}
.card-width:hover .card-price {
  color: #fff !important;
}
.card-width:hover .card-fixed {
  color: #fff !important;
}
.card-width:hover .card-title-text {
  color: #fff;
}
.card-title-text {
  font-size: 17px;
  color: #163d47;
  line-height: 0.9;
  margin: 30px 0 5px 0;
}
.card-count {
  color: #163d47;
  font-size: 42px;
  font-weight: bold;
  line-height: 0.7;
  margin: 15px 0 5px;
}
.card-count-text {
  color: #bec0c1;
  font-size: 19px;
  font-weight: bold;
  line-height: 0.7;
  margin: 12px 0 5px 0;
}
.card-price {
  color: #163d47;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.7;
  margin-right: 7px;
}
.card-btn {
  background-color: #ef3340;
  color: #ffffff;
  height: 28px;
  border-radius: 10px;
  margin-right: 10px;
  padding: 0px 20px;
  font-weight: bold;
  border: none;
  font-size: 13px;
}
.card-btn:hover {
  background-color: #ef3340 !important;
  color: #ffffff;
}
.card-fixed {
  color: #163d47;
  font-size: 17px;
  line-height: 0.7;
  text-align: center;
  font-weight: 100;
}
.card-dark-width {
  width: 24rem;
  background: none;
  border: none;
  padding: 0;
  background-color: #163d47;
}
/* .card-dark-width:hover {
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  background-color: #d8d8d8;
  color: #fff !important;
} */
.red-card-btn {
  border-radius: 5px !important;
  text-transform: "uppercase";
  background-color: #ef3340 !important;
  border: none !important;
  box-shadow: none !important;
  width: 18rem;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 1.9px;
  height: 46px;
  padding: 15px;
  color: #ffffff !important;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 30px;
}
.red-card-btn:hover {
  background-color: #41496b !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  transition: all 0.5s;
}
.team-card {
  padding: 0 0 50px 0;
}
.red-contact-btn {
  border-radius: 5px !important;
  text-transform: "uppercase";
  background-color: #ef3340 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 15px;
  font-size: 11px;
  letter-spacing: 1.9px;
  height: 46px;
  padding: 15px;
  color: #ffffff !important;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s;
  font-size: 13px;
  text-transform: capitalize;
  margin-top: 30px;
}
.red-contact-btn:hover {
  background-color: #41496b !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 1px 1px 6px rgb(65 73 107) !important;
  transition: all 0.5s;
}
.footer-icon {
  border-radius: 50%;
  padding: 16;
  margin: 10;
}
.image-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.invest-text {
  padding: 100px 0;
}
.text-line {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
#about {
  padding: 130px 0;
}
.hybrid {
  padding: 55px 70px 55px 70px;
}
@media only screen and (max-width: 992px) {
  .total {
    padding: 0 0 0 35px;
  }
  .token {
    margin-top: 15px;
  }
  .locamo-text {
    padding: 0 !important;
  }
}
.footer-content {
  padding: 50px 0;
}

/* .tab-text {
  color: #163d47;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
}
.card-width:hover .tab-text {
  color: #fff !important;
}
.card-width:hover .cart-title {
  color: #fff !important;
}
.card-width:hover .card-count {
  color: #fff !important;
}
.card-width:hover .card-count-text {
  color: #fff !important;
}
.card-width:hover .card-price {
  color: #fff !important;
}
.card-width:hover .card-fixed {
  color: #fff !important;
}
.card-width:hover .card-title-text {
  color: #fff;
} */
.card-title-dark {
  font-size: 17px;
  color: #fff;
  line-height: 0.9;
  margin: 30px 0 5px 0;
}
.card-count-dark {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  line-height: 0.7;
  margin: 15px 0 5px;
}
.card-count-text-dark {
  color: #bec0c1;
  font-size: 19px;
  font-weight: bold;
  line-height: 0.7;
  margin: 12px 0 5px 0;
}
.card-price-dark {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.7;
  margin-right: 7px;
}
.card-fixed-dark {
  color: #fff;
  font-size: 17px;
  line-height: 0.7;
  text-align: center;
  font-weight: 100;
}
